@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@400;700&family=Montserrat:wght@700&family=Quicksand:wght@300;400;500;600;700&display=swap');

body, html {
  margin: 0;
  min-height: fit-content;
  height: 100%;
  font-family: 'Courier Prime', monospace;
  font-weight: bold;
}
div#root{
  min-height: fit-content;
  height: 100%;
}
